@charset 'utf-8';

h1, h2, h3 {
  color: $brand-success;

  &::after {
    content: '';
    display: block;
    height: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid $gray-lighter;
  }
}

.figure {
  max-width: 60%;
  margin: 1em 0;
}

pre {
  margin-bottom: 2em;
}

// 重设示例代码段中注释字体的大小
.hljs-comment {
  font-size: 0.8em;
}

.dl-list dd + dt:before {
  content: '';
  display: block;
  margin: 1em 0;
  border-top: 1px solid $gray-lighter;
}
