@charset 'utf-8';

h1, h2, h3 {
  color: $brand-success;

  &::after {
    content: '';
    display: block;
    height: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid $gray-lighter;
  }
}

// 重设示例代码段中注释字体的大小
.hljs-comment {
  font-size: 0.8em;
}

// 无样式 ul
.list-unstyled {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
