<h1>简介</h1>
<p>sheral 是基于 <a href="https://github.com/marvin1023/sandal" target="_blank">sandal<i class="fa fa-external-link"></i></a>（基础sass库）扩展的移动端UI库。</p>
<p>sandal[ˈsændl]: 檀香。 sheral 啥意思？暂时不明，不过这不妨碍介绍这两者。</p>
<p>sheral整体设计思想主要分为基础功能部分和UI组件部分，其中基础功能部分由 sandal 来承载，而 UI 组件就是基于 sandal 提供的基础能力实现的 UI（一如jquery和插件的关系，sandal就如jquery，而一个个组件就如一个个扩展的jquery插件）</p>
<img src="http://7tszky.com1.z0.glb.clouddn.com/FtmMZmKBaSyEgVV0g1WLEFL6B006" class="figure">
<p>好吧，介绍性的内容我们还是看 <a href="http://imweb.io/topic/578392f6ba724c663b83527d" target="_blank">官方<i class="fa fa-external-link"></i></a> 的吧，我们的重点是解析源码。</p>
