<ul class="nav nav-pills nav-stacked" data-track="sandal">
  <li class="nav-item">
    <a class="nav-link" href="#sandalInfo">
      <i class="fa fa-circle-o"></i> 结构概述</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#sandalQueries">
      <i class="fa fa-circle-o"></i> 媒体查询</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#sandalMixinUtility">
      <i class="fa fa-circle-o"></i> 常规 @mixin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#sandalMixinLayout">
      <i class="fa fa-circle-o"></i> 布局 @mixin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#sandalMixinHalfPx">
      <i class="fa fa-circle-o"></i> 0.5px @mixin</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#sandalMixinMisc">
      <i class="fa fa-circle-o"></i>  杂项</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#sandalMixinAnimate">
      <i class="fa fa-circle-o"></i>  动画设置</a>
  </li>
</ul>
