<p>前面介绍了一堆 Sandal 的功能，Sheral 就是在此的基础上开发出了一系列 ui 组件。</p>
<p>从官方提供的 demo 来看，Sheral 提供了 23 组 ui，而给出的 components 文件数量则大于此，看来还是把有些组件之间共用的元素提取出来单独封装了。</p>
<p>这一些列 ui 组件如何运用，可以先参考一下 Sheral 官方提供的这几篇教程：</p>
<ul>
  <li><a href="http://imweb.io/topic/577e64a47c99347163ec0b10" target="_blank">移动端重构实战系列1——基础知识</a></li>
  <li><a href="http://imweb.io/topic/577e7bb87c99347163ec0b14" target="_blank">移动端重构实战系列2——line list</a></li>
  <li><a href="http://imweb.io/topic/577e7c0f7c99347163ec0b15" target="_blank">移动端重构实战系列3——各种等分</a></li>
  <li><a href="http://imweb.io/topic/577e7cf17c99347163ec0b16" target="_blank">移动端重构实战系列4——进入离开动画</a></li>
  <li><a href="http://imweb.io/topic/578307abba724c663b835279" target="_blank">移动端重构实战系列5——form元素</a></li>
  <li><a href="http://imweb.io/topic/57830874ba724c663b83527a" target="_blank">移动端重构实战系列6——icon与图片</a></li>
  <li><a href="http://imweb.io/topic/57860c1962a261a62914407f" target="_blank">移动端重构实战系列7——环形UI</a></li>
</ul>
<p>而 Sheral 提供的所有 ui，请看这里： <a href="http://imweb.github.io/sheral/" target="_blank">demo</a></p>
