@charset 'utf-8';

.table-desc {
  background: #fff;
  margin-bottom: 2em;

  thead {
    background: $brand-success;

    th {
      border-bottom-color: $brand-success;
      color: #fff;
    }
  }

  tr > td:first-child {
    font-weight: bold;;
    width: 30%;
  }

  th, td {
    border-top-color: $brand-success;
  }
}
